/* src/components/UserProfile.css */
.user-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
  background-color: #f9fafb;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex; 
  align-items: center;
  padding: 2rem;
  
}

.person_img {
  width: 125px;
  height: 125px;
  margin-right: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  padding: 1.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.email,
.location,
.gender,
.phone,
.cell {
  color: #555;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.email:before,
.location:before,
.gender:before,
.phone:before,
.cell:before {
  content: attr(data-label);
  font-weight: bold;
  margin-right: 0.5rem;
  color: #333;
}
